{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center" >Django App</h1>

        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta, nostrum quas. Repudiandae, tempora quod, veniam consequatur rem voluptatum facilis, maiores minus enim quo facere accusamus aspernatur impedit sit totam ab. Consectetur libero repellat voluptatem rerum, fugiat fugit minima unde doloremque eius, dolorem earum at facere. Excepturi, laboriosam incidunt! Voluptates perferendis rem beatae vel quae reiciendis excepturi magni, sunt ea repudiandae alias quasi saepe ipsa laboriosam architecto officiis. Est asperiores reiciendis porro ratione incidunt rem corrupti autem saepe omnis blanditiis voluptatibus dolor, odit cumque, itaque delectus similique, perspiciatis eos praesentium necessitatibus non ipsum! Hic illum, earum itaque saepe expedita necessitatibus cumque?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>

        </div>
    </section>
</main>
{% endblock %}